[Unit]
Description=Argo Reality PQC MultiProfile - Xray
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/argox-mp
ExecStart=/etc/argox-mp/bin/xray run -config /etc/argox-mp/config.json
Restart=on-failure
RestartSec=3
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
